<h1>Welcome to the to do app</h1>

<form action="/lists" method="post">
  <label for="name">List Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add List</button>
</form>

<p>
  Add tasks to any list:
</p>

<form action="/tasks" method="post">
  <input id="list_id" type="hidden" name="list_id" value="<%= @list.id()%>">

<label for="list_id">Select a List</label>
<select id="list_id" name="list_id" type="text">
  <% @lists.each() do |list| %>
    <option value="<% list.id() %>"> <% list.name() %> </option>
  <% end %>
</select>

  <label for="description">Description of the task:</label>
  <input id="description" type="text" name="description">
  <button type="submit">Add task</button>
</form>


<% if @lists.any?() %>
<h3>Here are your lists:</h3>
<ul>
  <% @lists.each() do |list| %>
    <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>
  There are no lists yet!
</p>

<% end %>

  <a href="/lists">View All Lists</a>
  <br>
  <a href="/lists/new">Add New List</a>
