<form action='/results' method='post'>
  <div class="form-group">
    <label for="description">Enter description:</label>
    <input id="description" name="description" class="form-control" type="text" placeholder="Example word: word">
  </div>
  <button type="submit" class="btn-primary btn-lg">Submit</button>
</form>
