
<!-- <h3>Add a task to <%= @list.name() %> </h3>

<form action="/..." method="post">

  <label for="description">Description of the task:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add task</button>
</form>

<hr> -->

<div class="footer">
  <a href="/">Home</a>
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
  <a href="/lists/new">Add New Task</a>
</div>
