<form action="/lists" method="post">

  <label for="name">List Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add List</button>
</form>

<hr>

<div class="footer">
  <a href="/">Home</a>
  <a href="/lists">View All Lists</a>
  <a href="/lists/new">Add New List</a>
  <a href="/lists/new">Add New Task</a>
</div>
