<h1><%= @list.name() %></h1>

<% if @list.tasks().any?() %>
<h3>Here are all the tasks in this list</h3>

<ul>
  <% @list.tasks().each() do |task| %>
  <li><%= task.description() %></li>
  <% end %>
</ul>

<% else %>
  <p>
    There are no tasks on this list!
  </p>
<% end %>

<div class="button">
  <a href="/"><button class ="btn">Home</a>
</div>

<h3>Add a task to <%= @list.name() %> </h3>

<form action="/tasks" method="post">
  <input id="list_id" type="hidden" name="list_id" value="<%= @list.id() %>">

  <label for="description">Description of the task:</label>
  <input id="description" type="test" name="description">

  <label for="due-date">Due Date:</label>
  <input name="due-date" id="due-date" type="date">

  <button type="submit">Add task</button>
</form>

<div class="footer">
    <a href="/">Home</a>
    <a href="/lists">View All Lists</a>
    <a href="/lists/new">Add New Lists</a>
    <a href="/lists/new">Add New Task</a>
</div>
